$gradient-left: #da2431;
$gradient-right: #7d4397;

$link-onlight: #222;
$linkhover-onlight: #7d4397;
$link-ondark: #fdcc52;
$linkhover-ondark: #fff;

$navbar-background: #eee;

$heading-color-ondark: #fff;

$dlsection-background: #fdcc52;

$pillbtn-background: #fdcc52;
$pillbtn-border: #fdcc52;

$card-icons: #ba2f58;

$img-overlay-bg: rgba(128, 128, 128, 0.3);

$social-media-color: #fff;
$social-media-hover: #ddd;
$facebook-color: #3B5998;
$twitter-color: #55acee;
$google-color: #dd4b39;


$footer1-bg: #fdc740;
$footer-bg: #222222;
$footer-link: #888;

