@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Lato:wght@300&display=swap');

$font-header: "Lato", Helvetica, Arial, sans-serif;
$font-heading: "Catamaran", Helvetica, Arial, sans-serif;
$font-paragraph: "Muli", Helvetica, Arial, sans-serif;
$font-pillbutton: "Lato", Helvetica, Arial, sans-serif;
$font-footer: "Muli", Helvetica, Arial, sans-serif;