@use 'sass:color';
@use 'colors';
@use 'fonts';

@mixin btn-unique($modifier, $background, $color) {
    &--#{$modifier} {
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: 1px solid white;        
        border-radius: 1rem;
        width: 10rem;
        height: 2rem;
        font-size: .8rem;
        font-family: fonts.$font-pillbutton;
        box-shadow: none;
        outline: none;

        
        &:hover {
        /* background-color: color.scale($background, $lightness: 20%); */
        background-color: $background;
        border: 1px solid $background;
        color: $color;
        transition: background-color 300ms linear;
        } 
    } 
}